<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
   <bean id="customerService" class="me.xueyao.service.impl.CustomerServiceImpl">
        <property name="customerDao" ref="customerDao"></property>
   </bean>
   <bean id="customerDao" class="me.xueyao.dao.impl.CustomerDaoImpl">
        <property name="session" ref="session"></property>
   </bean>
   <!--配置工厂bean  还是一个切面类-->
   <bean id="factory" class="me.xueyao.utils.HibernateUtils"></bean>
   <!-- 配置session -->
   <bean id="session" factory-bean="factory"  factory-method="getCurrentSession"></bean>
    <aop:config>
        <!-- 配置切入点表达式，告诉spring哪些方法需要加事务：业务层的所有方法 -->
        <aop:pointcut expression="execution(* me.xueyao.service.impl.*.*(..))" id="pt"/>
        <aop:aspect ref="factory">
            <!-- 前置通知 -->
            <aop:before method="beginTransaction" pointcut-ref="pt"/>
            <!-- 配置后置通知 -->
            <aop:after-returning method="commitTransaction" pointcut-ref="pt"/>
            <!-- 配置异常通知 -->
            <aop:after-throwing method="rollbackTransaction" pointcut-ref="pt"/>
        </aop:aspect>
        </aop:config>
</beans>