<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xueyao.usermanage.mapper.UserMapper">
    <select id="queryUserById" resultType="User">
          SELECT id,user_name,name,age,sex,birthday,created,updated
          FROM tb_user WHERE id = #{id}
    </select>

    <resultMap id="listUser" type="User">
        <id column="id" property="id"/>

    </resultMap>
    <select id="queryUsers" resultMap="listUser">
        SELECT * FROM tb_user
    </select>
    <select id="queryUsersByPage" resultType="User">
        SELECT id,user_name,name,age,sex,birthday,created,updated
        FROM tb_user LIMIT #{start} , #{pageSize}
    </select>
    <resultMap id="queryUserAllMap" type="User">
        <id column="id" property="id"/>
    </resultMap>
    <select id="queryUserAll" resultMap="queryUserAllMap">
        SELECT id,user_name,name,age,sex,birthday,created,updated
        FROM tb_user
    </select>
    
    <insert id="addUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO tb_user (
            user_name,
            password,
            name,
            age,
            sex,
            birthday,
            created,
            updated
        )
        VALUES
            (
                #{userName},
                #{password},
                #{name},
                #{age},
                #{sex},
                #{birthday},
                NOW(),
                NOW()
            );
    </insert>

    <delete id="deleteUser" >
        DELETE  FROM tb_user WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateUser" parameterType="User">
        UPDATE tb_user SET user_name = #{userName}, name = #{name}, age = #{age}, sex = #{sex},
            birthday = #{birthday} WHERE (id = #{id})
    </update>
</mapper>