<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
   <bean id="userDao" class="me.xueyao.dao.impl.UserDaoImpl"></bean>
   <!-- 配置切面类 -->
   <bean id="myAspect" class="me.xueyao.aspect.MyAspect"></bean>
   <!-- AOP配置 -->
   <aop:config>
        <!-- 配置切入点表达式：告诉spring框架哪些方法需要增强 -->
        <aop:pointcut expression="execution(* me.xueyao.dao.impl.UserDaoImpl.save(..))" id="pt"/>
        <aop:aspect ref="myAspect">
            <!-- 配置通知，通知分很多种，前置通知 -->
            <aop:before method="writeLog" pointcut-ref="pt"/>
        </aop:aspect>
   </aop:config>
</beans>