<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>estore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 过滤器 乱码问题-->
  <filter>
    <filter-name>GenericEncodingFilter</filter-name>
    <filter-class>me.xueyao.filter.GenericEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GenericEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 监听器 订单失效 -->
  <listener>
  	<listener-class>me.xueyao.listener.ScanListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>me.xueyao.base.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>me.xueyao.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodServlet</display-name>
    <servlet-name>GoodServlet</servlet-name>
    <servlet-class>me.xueyao.web.GoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodServlet</servlet-name>
    <url-pattern>/good</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>me.xueyao.web.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PCDServlet</display-name>
    <servlet-name>PCDServlet</servlet-name>
    <servlet-class>me.xueyao.web.PCDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PCDServlet</servlet-name>
    <url-pattern>/pcd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>me.xueyao.web.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>FindAllGoodsAdminServlet</display-name>
    <servlet-name>FindAllGoodsAdminServlet</servlet-name>
    <servlet-class>me.xueyao.web.FindAllGoodsAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllGoodsAdminServlet</servlet-name>
    <url-pattern>/findAllGoodsAdmin</url-pattern>
  </servlet-mapping>
</web-app>