<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--载入外部配置文件-->
    <properties resource="jdbc.properties" />
    <!--开启驼峰匹配-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <!--别名-->
    <typeAliases>
        <package name="me.xueyao.mybatis.pojo" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <!--数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--载入映射文件-->
    <mappers>
        <mapper resource="UserMapper.xml"/>
        <!--引入sql片段-->
        <mapper resource="CommonSQL.xml" />
    </mappers>
</configuration>